/node_modules
/node_modules.nosync
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor.nosync
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css/*
/public/js/*
/public/build/*
/public/mix-manifest.json
.php-cs-fixer.cache
rr
.rr.yaml
/docker/dbdata
frankenphp
/public/frankenphp-worker.php
.DS_Store
.phpunit.cache
