.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
    @apply min-w-[250px] shadow-lg ring-1 ring-black/5 mt-2;
}
.tribute-container ul {
    @apply rounded overflow-hidden list-none bg-white;
}
.tribute-container li {
    @apply hover:bg-brand-50 cursor-pointer py-2 px-4;
}
.tribute-container li.highlight {

}
.tribute-container li span {
    font-weight: bold;
}
.tribute-container li.no-match {
    cursor: default;
}
.tribute-container .menu-highlighted {
    font-weight: bold;
}
